- var myArray = ["first", "second", "third", "fourth", "fifth"]
-
  var myObj = [
    {
      "title": "title1",
      "message": "first message",
      "className": "class1"
    },
    {
      "title": "title2",
      "message": "second message",
      "className": "class2"
    },
    {
      "title": "title3",
      "message": "third message",
      "className": "class3"
    },
    {
      "title": "title4",
      "message": "fourth message",
      "className": "class4"
    },
    {
      "title": "title5",
      "message": "fifth message",
      "className": "class5"
    }
  ]
- var imgHouse = ["pict1.jpg","pict2.jpg","pict3.jpg","pict4.jpg","pict5.jpg"]
- var imgPath2 = "/assets/img/"
-
  var houseObj = [
  {
  "img": "",
  "titleName": "ЖБ «Перспектива Хол»",
  "addressName": "м. Івано-Франківськ, вул. Зілізнична, 49",
  "textName": "Цокольне приміщення 13,7 м2,  154,5 м2, Типовий поверх ,Мансарда: 115,30м2"
  },
  {
  "img": "",
  "titleName": "ЖБ «Перспектива»",
  "addressName": "м. Івано-Франківськ, вул. Зілізнична, 49",
  "textName": "Цокольне приміщення 13,7 м2,  154,5 м2,  Типовий поверх ,  Мансарда: 115,30м2"
  },
  {
  "img": "",
  "titleName": "ЖБ «Перспектива Хол»",
  "addressName": "м. Івано-Франківськ, вул. Зілізнична, 49",
  "Цокольне приміщення": "93,7 м2,  154,5 м2",  
  "Перший поверх": "101,5 м2, 146,5 м2",
  "Другий поверх": "108,3 м2, 122,5 м2",
  "Типовий поверх": "",
  "двокімнатні": "63,10м2, 66,8м2",
  "трикімнатні": "87,10м2"
  },
  {
  "img": "",
  "titleName": "ЖБ «Перспектива»",
  "addressName": "м. Івано-Франківськ, вул. Зілізнична, 49",
  "Цокольне приміщення": "93,7 м2,  154,5 м2",  
  "Типовий поверх": "",
  "Мансарда": "115,30м2"
  }

  ]
